name: GitHub Classroom Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: docker/setup-buildx-action@v2

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Run Unit Tests
        run: |
          cd src/car
          go test -v ./...
          cd ../rental
          go test -v ./...
          cd ../payment
          go test -v ./...
          cd ../..

      - name: Build images
        timeout-minutes: 10
        run: docker compose build

      - name: Run containers
        timeout-minutes: 5
        run: |
          docker compose up -d
          ./scripts/wait-script.sh
        env:
          WAIT_PORTS: 8080,8070,8060,8050

      - name: Show logs on failure
        if: failure()
        run: |
          echo "=== Postgres Logs ==="
          docker compose -f docker-compose.test.yml logs postgres
          echo "=== Gateway Logs ==="
          docker compose -f docker-compose.test.yml logs gateway
          echo "=== Cars Logs ==="
          docker compose -f docker-compose.test.yml logs cars
          echo "=== Rental Logs ==="
          docker compose -f docker-compose.test.yml logs rental
          echo "=== Payment Logs ==="
          docker compose -f docker-compose.test.yml logs payment

      # TODO setup variant, service and port

      - name: Run API Tests
        timeout-minutes: 5
        run: ./scripts/test-script.sh
        env:
          VARIANT: v3
          SERVICE_NAME: payment
          PORT_NUMBER: 8050

      - name: Stop containers
        if: always()
        continue-on-error: true
        run: docker compose down -v